<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="row" style="text-align: center; background: #382039;">
      <div class="col col1">
        <a ui-sref="chats">Video</a>
      </div>
      <div class="col col1">
        <a ui-sref="chats">Infografia</a>
      </div>
      <div class="col col1">
        <a ui-sref="chats">Arbol</a>
      </div>
    </div>
    <div class="row filavideo">
      <div class="col col2">
        <br><br>
        <center>
          <video controls></video>
          <br>
          <h1>Exposicion</h1>
        </center>
      </div>
    </div>
  </ion-content>
</ion-view>
