<ion-view view-title="Chats">
  <ion-content>
        <div class="row" style="text-align: center; background: #382039;">
      <div class="col col1">
        <a ui-sref="chats">Video</a>
      </div>
      <div class="col col1">
        <a ui-sref="chats">Infografia</a>
      </div>
      <div class="col col1">
        <a ui-sref="chats">Arbol</a>
      </div>
    </div>
    <div class="row filamendel">
      <div class="col">
        <center>
          <h1>Mendel</h1>
        </center>
      </div>
     </div>
     <div class="row">
       <div class="col">
         <div class="row">
           <div class="col">
             <h2>Primera ley</h2>
             <br>
             <p>Establece que si se cruzan dos líneas puras para un determinado carácter, los descendientes de la primera generación serán todos iguales entre sí, fenotípica y genotípicamente, e iguales fenotípicamente a uno de los progenitores</p>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="row">
           <div class="col">
             <h3>Segunda ley</h3>
             <br>
             <p><br>Esta ley establece que durante la formación de los gametos, cada alelo de un par se separa del otro miembro para determinar la constitución genética del gameto filial. <br></p>
           </div>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-20"></div>
       <div class="col-60">
         <h2>Tercera Ley</h2>
         <br>
         <p> Mendel concluyó que diferentes rasgos son heredados independientemente unos de otros, no existe relación entre ellos, por lo tanto el patrón de herencia de un rasgo no afectará al patrón de herencia de otro.</p>
       </div>
       <div class="col-20"></div>
     </div>
  </ion-content>
</ion-view>
